<div class="row">
  <div class="col">
    <h3>USER ADMINISTRATION</h3>
    
   <div class="action-buttons">
    <button type="button" class="btn btn-light float-right">REST</button>
    <button type="button" class="btn btn-primary float-right">DELETE USER</button>
    <button type="button" class="btn btn-primary float-right">ADD USER</button>
   </div>
  <div class="clearfix">
    
  </div>
   <div class="user-grid">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th scope="col">USER ID</th>
          <th scope="col">LAST NAME</th>
          <th scope="col">FIRST NAME</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th><input type="checkbox"></th>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
   </div>
  </div>
</div>
